<html>
  <head>
    <meta charset="utf-8" />
    <title>ScreenshotML worker demo</title>
    <style>
      body {
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <p>img element</p>
    <img src="/web-screenshot/pancake.xml">
    <!-- <object type="image/svg+xml" data="/web-screenshot/pancake.xml"></object> -->
    <!-- <svg><image href="/web-screenshot/pancake.xml"></image></svg> -->
    <script src="/js/client.js"></script>
  </body>
</html>
