<html>
  <head>
    <meta charset="utf-8" />
    <title>ScreenshotML worker demo</title>
    <style>
      body {
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>ScreenshotML worker demo</h1>
    <div>
      <h2>xml-drawing</h2>
      <img src="/svg-drawing/scrapbox-logo.xml">
      <img src="/svg-drawing/coffee.xml">
    </div>
    <div>
      <h2>xml-screenshot</h2>
      <img src="/web-screenshot/pancake.xml">
    </div>

    <script src="/js/client.js"></script>
  </body>
</html>
