<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ScreenshotML worker demo</title>
    <style>
      body {
        font-family: sans-serif;
      }
      img {
        margin-left: 16px;
      }
      pre {
        display: block;
        margin-top: 24px;
        background-color: #eee;
        padding: 2px;
        padding-left: 8px;
        border-radius: 1px;
      }
      iframe {
        overflow: hidden;
        border: none;
        margin-left: 16px;
        width: 150px;
        height: 150px;
        background-color: transparent;
      }
    </style>
    <script>
      function fit (iframe) {
        const rootSvg = iframe.contentWindow.document.children[0]
        iframe.style.height = rootSvg.getAttribute("height") + "px"
        iframe.style.width = rootSvg.getAttribute("width") + "px"
      }
    </script>
  </head>
  <body>
    <h1>ScreenshotML worker demo</h1>
    <div>
      <h2>xml-drawing</h2>
      <div>
        <pre>/svg-drawing/scrapbox-logo.xml</pre>
        <!-- <img src="/svg-drawing/scrapbox-logo.xml"> -->
        <iframe src="/svg-drawing/scrapbox-logo.xml" onload="fit(this)" sandbox="allow-same-origin"></iframe>
      </div>
      <div>
        <pre>/svg-drawing/coffee.xml</pre>
        <!-- <img src="/svg-drawing/coffee.xml"> -->
        <iframe src="/svg-drawing/coffee.xml" onload="fit(this)" sandbox="allow-same-origin"></iframe>
      </div>
    </div>
    <div>
      <h2>xml-screenshot</h2>
      <div>
        <pre>/web-screenshot/book.xml</pre>
        <!-- <img src="/web-screenshot/book.xml"> -->
        <iframe src="/web-screenshot/book.xml" onload="fit(this)" sandbox="allow-same-origin"></iframe>
      </div>
      <div>
        <pre>/web-screenshot/pancake.xml</pre>
        <img src="/web-screenshot/pancake.xml">
        <br />
        <iframe src="/web-screenshot/pancake.xml" onload="fit(this)" sandbox="allow-same-origin"></iframe>
      </div>
    </div>

    <script src="/js/client.js"></script>
  </body>
</html>
